body {
	/*background-color: #BBAA89;*/
	;
}

/*--------------
NAVIGATION STYLES
--------------*/

.nav li:hover{
	background-color: #EFEFEF;
}




/*----------------
HOME PAGE STYLES
----------------*/

.homeCol{
	/*margin: 5px;*/
}

.homeCol p {
    margin-top: 30px;
}

.homeImages {
	width: 100%;
	height: auto;
	margin-top: 30px;
}

.homeRow {
	margin-top: 10px;
}

.firstHome {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 50px;
	height: 400px;
	width: 100%;
	background-color: #C8B897;
	text-align: center;
	box-shadow: inset 0px 0px 300px 10px rgba(0,0,0,0.2);
	
}





/*---------------
CATALOG STYLES
---------------*/

.browseButton {
	margin-top: 25px;
}

.catalogImages {
	width: 100%;
	height: auto;
	padding: 10px;
    background-color: #ebccd1;
    border-radius: 3px;
    transition: .3s;

}

.catalogImages:active{
	background-color: #988387;
	opacity: .8;
}

.catalogImages:hover {
	width: 100%;
	height: auto;
	padding: 10px;
    background-color: #B79FA3;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
}

.catalogCont {
	text-align: center;
}

.catalogCont h2 {
    margin-bottom: 10px;
    color: #867A63;
}

.catalogDiv {
	text-align: center;
	height: auto;
}

.catalogDiv h4 {
	margin-bottom: 25px;
    margin-top: 55px;
}

#maxonLogo {
	text-align: center;
}





/*---------------
UNIVERSAL STYLES
---------------*/
.contactFoot {
	text-decoration: underline;
}

.h4Link {
	color: #6A7944;
}

.h4Link:hover {
	color: #546030;
}

.infoWrap {
	padding-top: 50px;
	max-width: 700px;
	margin: 0 auto;
	font-weight: 300;
}

.introText {
	font-size: 24px;
}

.infoBottom {
	margin-bottom: 60px;
}

.lightbox {
	position: fixed;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	
}

#lightbox1 {
	display: none;

}

#lightbox2 {
	display: none;
}

.lightbox .content {
	background-color: #000;
	border-radius: 5px;
	width: auto;
    height: 394px;

	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	/*margin: auto;*/
	padding:20px 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 19%;

	overflow: hidden;

}

.lightbox .content .lightboxImage {
    margin-left: -9px;
    width: 156%;
	height: auto;
}

.seperator {
	position: relative;
	width: 90%;
	border-bottom: solid 1px grey;
	margin-top: 60px;
	margin-left: 4%;
	
}

.slideText {
	color: #F7ECD4;
}

.space {
	margin-bottom: 130px;
}