body {
	/*background-color: #BBAA89;*/
	;
}

.nav li:hover{
	background-color: #EFEFEF;
}

.homeCol{
	/*margin: 5px;*/
}

.firstHome {
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 50px;
	height: 400px;
	width: 100%;
	background-color: #C8B897;
	text-align: center;
	box-shadow: inset 0px 0px 300px 10px rgba(0,0,0,0.2);
	
}

.infoWrap {
	padding-top: 50px;
	max-width: 700px;
	margin: 0 auto;
	font-weight: 300;
}

.introText {
	font-size: 24px;
}

.h4Link {
	color: #6A7944;
}

.h4Link:hover {
	color: #546030;
}

.contactFoot {
	text-decoration: underline;
}

.browseButton {
	margin-top: 25px;
}

.infoBottom {
	margin-bottom: 60px;
}
.homeImages {
	width: 100%;
	height: auto;
}

.catalogImages {
	width: 100%;
	height: auto;
	
}

.picJumbotron {
	box-shadow: inset 0px 0px 300px 10px rgba(0,0,0,0.2);
	
}

.catalogCont {
	text-align: center;
}

.catalogDiv {
	text-align: center;
	height: auto;
}

.catalogDiv h4 {
	margin-bottom: 25px;
    margin-top: 76px;
}

.catalogDiv h2 {
    margin-bottom: -35px;
    color: #867A63;
}

.seperator{
	margin:0 auto;
	width: 90%;
	border-bottom: solid 1px grey;
	margin-top: 361px;
}