
/*--------------
Fonts
--------------*/

@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Questrial);

/*font-family: 'Muli', sans-serif;

font-family: 'Questrial', sans-serif;

*/

body {
	/*background-color: #BBAA89;*/
	;
	font-family: 'Questrial', sans-serif;

}

/*Clearfix*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/*--------------
NAVIGATION STYLES
--------------*/

.nav li:hover{
	background-color: #EFEFEF;
}




<<<<<<< HEAD
<<<<<<< Updated upstream
/*---------------
UNIVERSAL STYLES
---------------*/
.contactFoot {
	text-decoration: underline;
}

.h4Link {
	color: #6A7944;
}

.h4Link:hover {
	color: #546030;
}

.infoWrap {
	padding-top: 50px;
	max-width: 700px;
	margin: 0 auto;
	font-weight: 300;
}

.introText {
	font-size: 24px;
}

.infoBottom {
	margin-bottom: 60px;
}


.seperator{
	margin:0 auto;
	width: 90%;
	border-bottom: solid 1px grey;
	margin-top: 361px;
}

.space {
	margin-bottom: 150px;
}


=======
<<<<<<< HEAD
=======


>>>>>>> hathMSS
>>>>>>> Stashed changes
=======
>>>>>>> master
/*----------------
HOME PAGE STYLES
----------------*/

.homeCol{
	/*margin: 5px;*/
}

.homeCol p {
    margin-top: 30px;
}

.homeImages {
	width: 100%;
	height: auto;
	margin-top: 30px;
}

.homeRow {
	margin-top: 10px;
}

.firstHome {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 50px;
    height: 400px;
    width: 100%;
    background-color: #C8B897;
    text-align: center;
    box-shadow: inset 0px 0px 300px 10px rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





/*---------------
CATALOG STYLES
---------------*/

.browseButton {
	margin-top: 25px;
}

.catalogImages {
	width: 100%;
	height: auto;
	padding: 10px;
    background-color: #ebccd1;
    border-radius: 3px;
    transition: .3s;

}

.catalogImages:active{
	background-color: #988387;
	opacity: .8;
}

.catalogImages:hover {
	width: 100%;
	height: auto;
	padding: 10px;
    background-color: #B79FA3;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
}

.catalogCont {
	text-align: center;
}

.catalogCont h2 {
    margin-bottom: 10px;
    color: #867A63;
}

.catalogDiv {
	text-align: center;
	height: auto;
}

.catalogDiv h4 {
	margin-bottom: 25px;
    margin-top: 55px;
}

#maxonLogo {
	text-align: center;
}





/*---------------
CONTACT STYLES
---------------*/
#contactSubmit {
    width: 100%;
    border-radius: 2px;
    border-style: ridge;
    background: #fff;
    height: 50px;
    font-size: 16px;
    float: none;
    margin: auto;
    width: 80%;
    margin-bottom: 180px;
}
<<<<<<< Updated upstream


.infoWrap {
    /* padding-top: 50px; */
    max-width: 700px;
    margin: 0 auto;
    font-weight: 300;
    height: 100%;
    position: relative;
}

=======


.infoWrap {
    /* padding-top: 50px; */
    max-width: 700px;
    margin: 0 auto;
    font-weight: 300;
    height: 100%;
    position: relative;
}

>>>>>>> Stashed changes
.contact .infoWrap h1 {
    font-size: 6em;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 40px;
}

body .input__field--kuro {
    opacity: 1;
    line-height: 80px;
    height: 80px;
    font-size: 24px;
}
.input__label--kuro {
    position: absolute;
    left: 0;
    width: 100%;
    color: #df6589;
    pointer-events: none;
    height: 80px;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    height: 80px;
}

.contact .firstHome{
    background-image: url(/img/contact.jpg);
<<<<<<< Updated upstream
}
=======
}
<<<<<<< HEAD

.lightbox {
	position: fixed;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	
}

#lightbox1 {
	display: none;

}

#lightbox2 {
	display: none;
}

#lightbox3 {
	display: none;
}

#lightbox4 {
	display: none;
}

.lightbox .content {
	background-color: #000;
	border-radius: 5px;
	width: auto;
    height: 394px;

	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	/*margin: auto;*/
	padding:20px 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 19%;

	overflow: hidden;

}

.lightbox .content .lightboxImage {
    margin-left: -9px;
    width: 156%;
	height: auto;
}

.seperator {
	position: relative;
	width: 90%;
	border-bottom: solid 1px grey;
	margin-top: 60px;
	margin-left: 4%;
	
}

.slideText {
	color: #F7ECD4;
}

.space {
	margin-bottom: 130px;
}
=======
>>>>>>> hathMSS
/*---------------
UNIVERSAL STYLES
---------------*/
.contactFoot {
	text-decoration: underline;
}

.h4Link {
	color: #6A7944;
}

.h4Link:hover {
	color: #546030;
}

.infoWrap {
	padding-top: 50px;
	max-width: 700px;
	margin: 0 auto;
	font-weight: 300;
}

.introText {
	font-size: 24px;
}

.infoBottom {
	margin-bottom: 60px;
}

.lightbox {
	position: fixed;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	
}

#lightbox1 {
	display: none;

}

#lightbox2 {
	display: none;
}

#lightbox3 {
	display: none;
}

#lightbox4 {
	display: none;
}

.lightbox .content {
	background-color: #000;
	border-radius: 5px;
	width: auto;
    height: 394px;

	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;
	/*margin: auto;*/
	padding:20px 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 19%;

	overflow: hidden;

}

.lightbox .content .lightboxImage {
    margin-left: -9px;
    width: 156%;
	height: auto;
}

.seperator {
	position: relative;
	width: 90%;
	border-bottom: solid 1px grey;
	margin-top: 60px;
	margin-left: 4%;
	
}

.slideText {
	color: #F7ECD4;
}

.space {
	margin-bottom: 150px;
}

@media only screen and (max-width : 1024px) {

	body span.input--kuro{
		max-width: 100%;
		width: 100%;
	}
body .input {
    position: relative;
    z-index: 1;
    display: inline-block;
     margin: 0; 
     margin-top: 10px;
     margin-bottom: 10px;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

}
@media only screen and (max-width : 650px) {
	.pull-right, .pull-left{
		width: 45%;
	}
}
